<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

  <div class="container-fluid">

  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">

  <!-- Create a circular processing while the isProcessing in absolute center of the screen-->
  

  


  <!-- Table -->
  <div class="row">
   
    <div class="col">
      <div *ngIf="isProcessing"  class="spinner-container" style="position: absolute;z-index: 10;left: 50%;top: 50%;transform: translate(-50%,-50%);">
        <mat-progress-spinner
          color="primary" 
          mode="indeterminate">
        </mat-progress-spinner>
      </div>
      <div *ngIf="!isProcessing" class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-4">
              <h3 class="mb-0">Game Controller - {{match.groups[0].name}} - {{match.name}}</h3>
            </div>
            <div class="col-8 text-right">
              <a [routerLink]="[ '/result',id]" target="_blank" class="btn btn-sm btn-primary">View Result</a>
            </div>
          </div>
          
        </div>

        <div *ngFor="let team of match.groups[0].teams; let teamindex = index;" class="card shadow"
          style="margin: 10px;padding: 10px;">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <img src = "{{team.teamLogo}}" style="height: 50px;width: 50px; border-radius: 25px;" />
              <div class="col-4">
                <h3 class="mb-0">{{team.fullName}} - {{team.shortName}}</h3>
              </div>
            </div>
          </div>
          <div class="card-body border-0">
            <div class="row align-items-center">
              <div *ngFor="let player of team.players; let i = index" class="col-6">
                <div *ngIf="player.isPlaying">
                  <div class="row">
                    <h3 class="mb-0">{{player.playerName}}</h3>
                    &nbsp;&nbsp;
  
                    <div class="example-button-container">
  
                      <button mat-icon-button color="primary" (click)="decrementKill(teamindex,i)">
                        <mat-icon>remove_circle</mat-icon>
                      </button>
                      <span>{{player.kills}}</span>
                      <button mat-icon-button color="primary" (click)="incrementKill(teamindex,i)">
                        <mat-icon>add_circle</mat-icon>
                      </button>
                    </div>
  
  
  
                    &nbsp;&nbsp;
                    <mat-slide-toggle [(ngModel)]="player.isAlive" (change)="toggleAlive()" >Alive</mat-slide-toggle>
  
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>





      </div>
    </div>
  </div>


  <!-- <div  *ngIf="isProcessing" class="spinner-container">
                <mat-progress-spinner
                  color="primary" 
                  mode="indeterminate">
                </mat-progress-spinner>
              </div> -->

  

</div>