<div class="col-md-12 order-xl-1">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Add Team</h3>
        </div>
        <div class="col-4 text-right">
          <!-- <i class="fat-remove"></i> -->
          <button type="button" (click)="onClose()" class="btn btn-sm btn-primary">
            Close
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <form [formGroup]="service.teamForm">
        <h6 class="heading-small text-muted mb-4">Team information</h6>

        <input type="hidden" formControlName="id" />

        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-fullName">Team FullName</label>
                <input formControlName="fullName" type="text" id="input-fullName"
                  class="form-control form-control-alternative" placeholder="Ex. Da Real Soldiers" />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-shortName">Team Short Name</label>
                <input formControlName="shortName" type="text" id="input-shortName"
                  class="form-control form-control-alternative" placeholder="Ex. DRS" />
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-logo">Team Logo</label>
                <input formControlName="logo" type="file" id="input-logo" class="form-control form-control-alternative"
                  placeholder="Upload Logo" />
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <!-- Address -->
          <h6 class="heading-small text-muted mb-4">Player information</h6>

          <div>
            <div class="col-12 text-right">
              <button type="button" (click)="addSkillButtonClick()" class="btn btn-sm btn-primary">Add Player</button>
            </div>
            <div class="row">
              <div class="col-lg-4" formArrayName="players"
                *ngFor="let player of service.teamForm.get('players')['controls']; let i = index">
                <div [formGroupName]="i">

                  <div class="form-group">
                    <label class="form-control-label" for="playerName">Player {{i+1}} Name</label>
                    <input formControlName="playerName" type="text" id="playerName"
                      class="form-control form-control-alternative" placeholder="Player Name">
                  </div>

                  <div class="form-group">
                    <input type="hidden" formControlName="isAlive" >
                  </div>

                  <div class="form-group">
                    <input type="hidden" formControlName="isPlaying" >
                  </div>

                  <div class="form-group">
                    <input type="hidden" formControlName="kills">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>


    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-md-12 text-right">
          <button type="button" (click)="onSubmit()" class="btn btn-sm btn-primary">SAVE</button>
        </div>
      </div>
    </div>
  </div>
</div>
