/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.domination.mat-snack-bar-container{
    width: 350px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.1);;
    margin: 0px;
    padding: 0px;
    // background-image:url("./assets/img/Domination.jpg")
}

@font-face {
    font-family: Bebas;
    src: url(assets/fonts/nucleo/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Zuume;
    src: url(assets/fonts/nucleo/ZuumeCut-Regular.ttf) format('truetype');
}

.Bebas{
    font-family: Bebas;
}

.Zuume{
    font-family: Zuume;
}