<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

    </div>
  </div>
</div>


<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-6">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Moonlight Studios</h6>
              <h2 class="mb-0">System Settings</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="service.settingForm">
            <h6 class="heading-small text-muted mb-4">Colors</h6>

            <input type="hidden" formControlName="id" />

            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-fullName">Primary Color</label>
                    <input formControlName="primaryColor" [(ngModel)]="settings.primaryColor" type="text" id="input-fullName"
                      class="form-control form-control-alternative" placeholder="#FFFFFF" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-shortName">Secondary Color</label>
                    <input formControlName="secondaryColor" [(ngModel)]="settings.secondaryColor" type="text" id="input-shortName"
                      class="form-control form-control-alternative" placeholder="#FFFFFF" />
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-fullName">Alive Color</label>
                    <input formControlName="aliveColor" [(ngModel)]="settings.aliveColor" type="text" id="input-fullName"
                      class="form-control form-control-alternative" placeholder="#FFFFFF" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-shortName">Dead Color</label>
                    <input formControlName="deadColor" type="text" [(ngModel)]="settings.deadColor" id="input-shortName"
                      class="form-control form-control-alternative" placeholder="#FFFFFF" />
                  </div>
                </div>

              </div>

              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Images</h6>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="alive">Alive Counter Image</label>
                    <input formControlName="aliveCounterBgImage" type="file" id="alive"
                      class="form-control form-control-alternative" placeholder="Upload Logo"
                      (change)="fileChangeEvent($event)" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="domination">Domination Alert Image</label>
                    <input formControlName="dominationBgImage" type="file" id="domination"
                      class="form-control form-control-alternative" placeholder="Upload Logo"
                      (change)="fileChangeEvent2($event)" />
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="eliminated">Eliminated Alert</label>
                    <input formControlName="eliminatedBgImage" type="file" id="eliminated"
                      class="form-control form-control-alternative" placeholder="Upload Logo"
                      (change)="fileChangeEvent3($event)" />
                  </div>
                </div>
              </div>

            </div>
          </form>

        </div>
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-md-12 text-right">
              <button type="button" (click)="onSubmit()" class="btn btn-sm btn-primary">SAVE</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Moonlight Studios</h6>
              <h2 class="mb-0">Current System Settings</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div>
            <h6 class="heading-small text-muted mb-4">Colors</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6" style="display: flex;flex-direction: row;">
                  <label class="form-control-label">Primary Color :</label>
                  <div style="height: 20px;width: 50px;border-radius: 5px;margin-left: 10px;" [ngStyle]="{'background-color': settings.primaryColor}"> </div>
                </div>
                <div class="col-lg-6" style="display: flex;flex-direction: row;">
                  <label class="form-control-label">Secondary Color :</label>
                  <div style="height: 20px;width: 50px;border-radius: 5px;margin-left: 10px;" [ngStyle]="{'background-color': settings.secondaryColor}"> </div>
                </div>
              </div>

              <div class="row">

                <div class="col-lg-6" style="display: flex;flex-direction: row;">
                  <label class="form-control-label">Alive Color :</label>
                  <div style="height: 20px;width: 50px;border-radius: 5px;margin-left: 10px;" [ngStyle]="{'background-color': settings.aliveColor}"> </div>
                </div>
                <div class="col-lg-6" style="display: flex;flex-direction: row;">
                  <label class="form-control-label">Dead Color :</label>
                  <div style="height: 20px;width: 50px;border-radius: 5px;margin-left: 10px;" [ngStyle]="{'background-color': settings.deadColor}"> </div>
                </div>

              </div>

              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Images</h6>
              <div class="col-lg-6">
                <label class="form-control-label">Alive Counter Image</label>
                <div>
                  <img *ngIf="settings.aliveCounterBgImage" [src]="settings.aliveCounterBgImage" style="width: 100px;">
                </div>
              </div>
              <div class="row">
                
                <div class="col-lg-6">
                  <label class="form-control-label">Domination Alert Image</label>
                  <div>
                    <img *ngIf="settings.dominationBgImage" [src]="settings.dominationBgImage" style="height: 100px;">
                  </div>  
                </div>

              </div>

              <div class="row">

                <div class="col-lg-6">
                  <label class="form-control-label">Eliminated Alert Image</label>
                  <div>
                    <img *ngIf="settings.eliminatedBgImage" [src]="settings.eliminatedBgImage" style="height: 100px;">
                  </div>  
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-md-12 text-right">
              <button type="button" (click)="onSubmit()" class="btn btn-sm btn-primary">SAVE</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>